# Python
backend/venv/
backend/debug/
backend/data/
__pycache__/
*.pyc

# Environment
backend/.env

# React
frontend/node_modules/
frontend/dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

venv/

backend/failed_response.txt

backend/progress